@import "mixins";
@import "variables";

.card{
    background-color: $backgroundGray;
    width: 52rem;
    display: flex;
    border-radius: 12px;
    &__info{
        width: 100%;
        padding: 2rem;
        @include poppinsFont(300);
    }
    &__title, &__link{
        font-size: 1.9rem;
    }
    &__link{
        @include poppinsFont(900);
        letter-spacing: 0.8px;
        cursor: pointer;
        text-decoration: none;
        color: $fontWhite;
        &:hover{
            transition: 0.1s ease;
            color: $hoverOrange;
        }
    }
    &__status-text{
        font-size: 1.3rem;
        display: inline-block;
    }
    &__label{
        color: $labelGray;
        font-size: 1.5rem;
    }
    &__subtitle{
        font-size: 1.6rem;
        font-weight: 300;
    }
    &__img{
        max-width: 19rem;
        border-radius: 12px 0 0 12px;
    }
    &__status-icon{
        @include statusIcon(1rem, 1rem);
        @include statusIconVariants();
    }
    &__episode-number{
        margin: auto;
        text-align: center;
        font-size: 8rem;
        padding: 4rem 7rem;
    }
}

