@import "variables";
@import "mixins";

.data{
    max-width: 1920px;
    color: $fontWhite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
    &__footer{
        color: #9d9d9d;
        font-size: 1.6rem;
        @include poppinsFont(900);
        text-align: center;
        margin-top: 20rem;
        margin-bottom: 10rem;
    }
}