@import "mixins";
@import "variables";

.details{
    @include poppinsFont(500);
    color: $fontWhite;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding: 2rem;
    min-height: calc(100vh - 342px);
    &__title{
        font-size: 3rem;
    }
    &__img{
        border-radius: 12px;
    }
    &__subtitle{
        font-size: 2rem;
    }
    &__label{
        color: $labelGray;
        font-size: 1.8rem;
    }
    &__status-icon{
        @include statusIcon(1.5rem, 1.5rem);
        @include statusIconVariants();
    }
    &__status-box{
        display: flex;
        align-items: center;
    }
    &__status-text{
        font-size: 1.6rem;
    }
}