@import "variables";
@import "mixins";

.header{
    @include robotoFont(900);
    &__title{
        text-align: center;
        font-size: 10rem;
        padding: 6rem;
        font-weight: 900;
    }
}

.nav{
    &__list{
        display: flex;
        justify-content: flex-end;
        padding: 2rem;
        gap: 2.5rem;
        list-style-type: none;
    }
    &__link{
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: 700;
        &:hover{
            transition: 0.1s ease;
            color: $hoverOrange;
        }
    }
}
