@import "variables";

.search{
    position: relative;
    gap: 1rem;
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    &__input{
        padding: 1.5rem;
        width: 30%;
        background-color: $backgroundGray;
        border: none;
        border-radius: 6px;
        color: $fontWhite;
        &:focus{
            outline: none;
        }
    }
}