.header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.header__title {
  text-align: center;
  font-size: 10rem;
  padding: 6rem;
  font-weight: 900;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  gap: 2.5rem;
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.nav__link:hover {
  transition: 0.1s ease;
  color: #FF9800;
}

.data {
  max-width: 1920px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;
}
.data__footer {
  color: #9d9d9d;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.card {
  background-color: #3c3e44;
  width: 52rem;
  display: flex;
  border-radius: 12px;
}
.card__info {
  width: 100%;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.card__title, .card__link {
  font-size: 1.9rem;
}
.card__link {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 0.8px;
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
}
.card__link:hover {
  transition: 0.1s ease;
  color: #FF9800;
}
.card__status-text {
  font-size: 1.3rem;
  display: inline-block;
}
.card__label {
  color: #9b9d9e;
  font-size: 1.5rem;
}
.card__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}
.card__img {
  max-width: 19rem;
  border-radius: 12px 0 0 12px;
}
.card__status-icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.card__status-icon--alive {
  background-color: #55cc44;
}
.card__status-icon--dead {
  background-color: #d63d2e;
}
.card__status-icon--unknown {
  background-color: #9e9e9e;
}
.card__episode-number {
  margin: auto;
  text-align: center;
  font-size: 8rem;
  padding: 4rem 7rem;
}

.search {
  position: relative;
  gap: 1rem;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
}
.search__input {
  padding: 1.5rem;
  width: 30%;
  background-color: #3c3e44;
  border: none;
  border-radius: 6px;
  color: #f5f5f5;
}
.search__input:focus {
  outline: none;
}

.details {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  min-height: calc(100vh - 342px);
}
.details__title {
  font-size: 3rem;
}
.details__img {
  border-radius: 12px;
}
.details__subtitle {
  font-size: 2rem;
}
.details__label {
  color: #9b9d9e;
  font-size: 1.8rem;
}
.details__status-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.details__status-icon--alive {
  background-color: #55cc44;
}
.details__status-icon--dead {
  background-color: #d63d2e;
}
.details__status-icon--unknown {
  background-color: #9e9e9e;
}
.details__status-box {
  display: flex;
  align-items: center;
}
.details__status-text {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  background-color: #202329;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
