@import "./header";
@import "./data";
@import "card";
@import "search";
@import "details";
@import "mixins";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main{
    background-color: #202329;
    display: flex;
    flex-direction: column;
}